#vpc_cidr               = "" # デフォルトで 10.1.0.0/16 にしている

# 自宅のグローバルIPなど
allowed_ssh_cidr        = "xxx.xxx.xxx.xxx/32"
key_name                = "your-keypair-name"
domain_name             = "keycloak.example.com"

# keycloakの管理ユーザのID/パスワード
keycloak_admin          = "admin"
keycloak_admin_password = "your_secure_password"
